<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- 控制台输出 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<!-- 日志输入到指定的文件中 -->
	<appender name="RollingLogFile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>logs/info.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>logs/info.%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- keep 30 days' worth of history capped at 3GB total size -->
			<maxHistory>30</maxHistory>
			<totalSizeCap>3GB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss} %-4relative [%thread] %-5level %logger{35} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<logger name="com.ftsafe.iccd" level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="com.ftsafe.iccd.core" level="INFO" additivity="false">
		<appender-ref ref="RollingLogFile" />
	</logger>
	<logger name="com.ftsafe.iccd.personalize" level="INFO"
		additivity="false">
		<appender-ref ref="RollingLogFile" />
	</logger>

	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>
