<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:context="http://www.springframework.org/schema/context"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="
   http://www.springframework.org/schema/beans     
   http://www.springframework.org/schema/beans/spring-beans.xsd
   http://www.springframework.org/schema/context 
   http://www.springframework.org/schema/context/spring-context.xsd">


	<!-- 开启组件自动扫描，路径由base-package制定 -->
	<context:component-scan base-package="com.ftsafe.iccd" />
	
	<!-- 配置数据源 -->
	<context:property-placeholder location="classpath:db.properties" />

	<bean name="dataSource" class="com.alibaba.druid.pool.DruidDataSource"
		init-method="init" destroy-method="close">
		<!-- <property name="driverClassName" value="${driverClassName}" /> -->
		<property name="url" value="${jdbc_url}" />
		<property name="username" value="${jdbc_username}" />
		<property name="password" value="${jdbc_password}" />
		<!-- 初始化连接大小 -->
		<property name="initialSize" value="${initialSize}" />
		<!-- 连接池最大使用连接数量 -->
		<property name="maxActive" value="${maxActive}" />
		<!-- 连接池最小空闲 -->
		<property name="minIdle" value="${minIdle}" />
		<!-- 获取连接最大等待时间 -->
		<property name="maxWait" value="${maxWait}" />
		<property name="validationQuery" value="${validationQuery}" />
		<property name="testOnBorrow" value="${testOnBorrow}" />
		<property name="testOnReturn" value="${testOnReturn}" />
		<property name="testWhileIdle" value="${testWhileIdle}" />
		<!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
		<property name="timeBetweenEvictionRunsMillis" value="60000" />
		<!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
		<property name="minEvictableIdleTimeMillis" value="25200000" />
		<!-- 打开removeAbandoned功能 -->
		<property name="removeAbandoned" value="true" />
		<!-- 1800秒，也就是30分钟 -->
		<property name="removeAbandonedTimeout" value="1800" />
		<!-- 关闭abanded连接时输出错误日志 -->
		<property name="logAbandoned" value="true" />
		<!-- 监控数据库 -->
		<!-- <property name="filters" value="stat" /> -->
		<property name="filters" value="mergeStat" />
	</bean>

	<!-- Definition for UserDaoImpl bean -->
	<bean id="userDaoImpl" class="com.ftsafe.iccd.core.dao.impl.UserDAOImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- Definition for HuiPanTablesManagerDAOImpl bean -->
	<bean id="huiPanTablesManagerDAOImpl"
		class="com.ftsafe.iccd.core.dao.impl.HuiPanTablesManagerDAOImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- Definition for HuiPanDAOImpl bean -->
	<bean id="huiPanDAOImpl" class="com.ftsafe.iccd.core.dao.impl.HuiPanDAOImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>

</beans>